# Strategic Movie Production Analysis

Movie making is a wide source of revenue mainly in the entertainment industry compared to music and other forms of entertainment.
Many movies in hollywood and bollywood have grossed over 1 billion dollars world wide within months in a certain year due to the fact that movies have a very large audience world wide.
Some movie genres are popular than other movie genres based on the audience as different audience have their own different opinion and preferences to different genres.
Our aim is to navigate movies that rate high in the box office to find out what preference do most audiences prefer based on the genre of the film and its popularity to decide which films our movie studio could make.

# Goals

## 1. Identify top-movies genres in the box office
This can be done by analyzing which movie genres are the most successful in the box office grossing a lot of money and its popularity among the audience.
## 2. Gather factors that make a movie be a success or popular
This can be done by investigating characteristics that contribute to top performing films.
Examining factors such as the movie budget, special effects used, storyline of the movie that engages the audience and the cast of the movie as some audience prefer watching movies with a popular cast and director.
## 3. Understand the market insights
Understand which movie genres are popular with which type of age group and gender as different audiences have different preferences. Example is child under the age 10 primarily girls would prefer to watch animated barbie movies.
## 4. Recommendations
After doing the analysis and investigation, we can translate our findings and strategies to the new movie studio on the film genres that are likely to succeed with their characteristics and themes.

# Business understanding

## Introduction
With the competitive edge in the entertainment industry, many companies are seeking in creating original video content  as popular way to secure audience attention and use it as a way of earning more revenue. 
Our company is interested into venturing to this dynamic market as it been seen and proven as a great source of income.
The real-life problem is that our organization is opening a new movie studio as a step into the film production industry. But we don't have the knowledge and understanding needed to make movies that will do well at the box office. This research attempts to study current box office statistics in order to determine the kinds of films that are doing the best in order to address this difficulty. Through the conversion of these insights into practical plans, we can direct the production of films that both connect with viewers and bring in a significant amount of money for our company's new film studio.

### Stakeholders

#### Company executives
Company executives provide insights and input on how the movie studio is to be managed. 
They provide strategic moves such as hiring of the intended staff such as directors and cast members of a certain movie.
They oversee the production of the movie in terms of budget required and as well as producers to ensure the movie is a success.
Another role is they approve which type of films to be produced and allocate resources to them.

Problem faced by company executives lack of market insight, company executives cannot approve production of a movie without knowing the intended market and what their needs and wants includes.

#### Marketing and sales teams 
A problem faced by marketing and sales teams is the ineffective  marketing and sales strategies.
Market and sales teams require a deep understanding of the audience preferences and market trends to develop a compelling campaign to promote the movies and increase revenue.
Without the knowledge, they incur a loss and money wastage in promoting the movie and lower return in revenue in the box-office.

By identifying which genre of movies gross a lot of money in the box office, marketing and sales teams identify the target market which is the audience depending on their prefernces and promote the movies to them increasing the chances of a successful film release.
From this, the movies end up grossing a lot of money in the box office.


#### Film production team 

The film production team are entrusted from the analysis of movies that generate the highest amount of money in the box office, to identify the key elements that make the successful.
The key elements could include a ceratin movie genre with its preferred audience, the movie rating, the cast of the movie, the stroyline of the movie and its popularity with the audience and the special effects used in the movie.
The film production could then adopt such ideas and create original video content from those elements.

The problem faced by the film production team is lack of knowledge about the key elements, without this knowledge they are at a higher risk to making a bad movie that does not fit the audience preferences leading to poor performance at the box office incurring the movie studio a huge loss.

#### Investors
Investors are a very important part in the movie making process as they provide financial aid that is essential with potential return on their investment. This encourages them to invest in more movies if the movies they invest in become huge successes.

Without the proper market analysis and reports about what the target audience may want, many investors may be hesistant in getting involved with the movie making limiting the movie studio financial resources.

#### Audience 
The audience are the main consumers in the entertainment industry. If they did not exist they wouldn't be an entertainment industry. 
With them been our main consumers it is important to understand their needs and wants.
This can be done by identify their preferences by placing them into different categories such as age, gender, hobbies and  probably occupation .
Giving an example, children under the age of 13 have a preference of watching animated films compared to crime documentary films.
Another example is male audience who love watching have a higher rate of watching sports-based films.
Through that the film studio is able to generate revenues from the movies through their audience.

With making of movies which do not resonate with them, it will be difficult to attract the audience to watch the movies leading to poor performance at the box office and a huge financial loss to the movie studio.
## Conclusion
The implications set by the project to the stakeholders include:
1. Through analysis and identifying the genres and characteristics of higher grossing films in the box office, the data derived from that provides easy decision making to the film production team who are able to meet the elements and provide film productions that satisfy consumer wants and generate revenue.
2. Company executives will be able to approve movies that meet the consumer wants and needs by allowing film production that meets the elements of grossing a high rating movie.
3. Market and sales teams will be able to design campigns that are attracting that draw in the audience as a way of promoting the movie.
4. Investors confidence will duue to the profit the studio is gaining and invest in more movie productions.
5. The audience will be able to watch and enjoy movies tailored to their needs and promote it by giving it a high rating.

## Data Understanding

### Data Sources
#### 1. Box-office Mojo
This is a detailed database that tracks box-office revenues of different types of movies world-wide and their overall financial performance of the movies.
This data source is relevant to our project as it will enable us to identify which movies perform well in certain countries and how much revenue it attracts in a certain period of time and their overall performance after.
#### 2. IMDb 
This website provides information on film genres, cast and crew, stroyline context of the film and the rating of the film which enables us to understand the context of successsful films.
This data is relevant to our project as studying and analyzing different movie genres provides us with certain audience preferences and other information that contribute to a movie success such as captivating storyline context that draws in the audience.
#### 3. Rotten Tomatoes
This is a website that provides the audience with a space to be able to critic and post reviews about certain movies.
This data is relevant as audience opinion is critical in the movie industry such that a bad rated movie with negative reviews leads to poor performance in the box office and vice versa.
Through rotten tomatoes some audience may be compelled to watch the movies based on the rating and reviews of the people who have already watched the film.
#### 4. TheMovieDB
This is a website that engages the audience to know which films are trending on a certain day of the week or on a certain week time period by showcasing in terms of percentage to show what percentage of the audience  is watching these films.
Another feature of this website is that, it shows which popular films in categories which include those that can be streamed, are on tv, can be rented and in theathers in terms of percentage to show what percentage of the audience is watching these these films in the mentioned categories.
This data is relevant as it shows which films are the audience attracted to the most in terms of the percentage such that a movie with a high percentage of 89% is popular among the audience and that many of them watch it.
Through this we can be able to extract key characteristics from the films to know why the high percentage of the audience watch such films.
#### 5. The numbers 
 Includes data on film budgets, revenues, and financial performance, which is crucial for understanding profitability.
 Its relevance is that it gives insights into budget and profitability, which are important for evaluating financial success.

### Dataset size and descriptive statistics

In [1]:
import pandas as pd
import gzip

#### 1. Bom.movie_gross.csv.gz dataset
The data information below shows that the dataset has five columns which include title, studio, domestic_gross, foreign_gross and year.
Has a data size of 5 columns and 3886 rows.
It has a total of 3387 entries.
##### Descriptive statistics
The dataset has a descriptive statistics which include:
Count - the domestic gross count is 3000.36 and year count is 3387
Mean - the domestic gross mean  2.874585e+07 and year mean is 2013.958075
std	- the domestic gross std 6.698250e+07 and the year std 2.478141
min - the domestic gross min 1.000000e+02 and the year min 2010.000000
25%	- the domestic gross 25% 1.200000e+05,and the year 25%	2012.000000
50%	- the domestic gross 50% 1.400000e+06, and the year 50%	2014.000000
75%	- the domestic gross 75% 2.790000e+07,	and the year 75% 2016.000000
max	- the domestic gross max 9.367000e+08,	and the year max 2018.000000

In [2]:
#specify the file path
file_path = '../zippedData/bom.movie_gross.csv.gz'

#open the compressed zip folder
with gzip.open(file_path, 'rt') as file:
    df = pd.read_csv(file)

#show the first 5 rows
df.head()

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010

In [3]:
# show the data size and the number of entries and columns
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3387 entries, 0 to 3386
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           3387 non-null   object
 1   studio          3382 non-null   object
 2   domestic_gross  3359 non-null   float64
 3   foreign_gross   2037 non-null   object
 4   year            3387 non-null   int64
dtypes: float64(1), int64(1), object(3)
memory usage: 132.4+ KB

In [4]:
df.describe()

       domestic_gross         year
count    3.359000e+03  3387.000000
mean     2.874585e+07  2013.958075
std      6.698250e+07     2.478141
min      1.000000e+02  2010.000000
25%      1.200000e+05  2012.000000
50%      1.400000e+06  2014.000000
75%      2.790000e+07  2016.000000
max      9.367000e+08  2018.000000

#### 2. Dataset rt.movie_info.tsv.gz

In [41]:
#specify the file path
file_path = '../zippedData/rt.movie_info.tsv.gz'

#open the compressed zip folder
with gzip.open(file_path, 'rt') as file:
    df2 = pd.read_csv(file, delimiter='\t', index_col=0) #tsv file

#show the first 5 rows
df2.head(20)

,synopsis,rating,genre,director,writer,theater_date,dvd_date,currency,box_office,runtime,studio
id,,,,,,,,,,,
1,"This gritty, fast-paced, and innovative police...",R,Action and Adventure|Classics|Drama,William Friedkin,Ernest Tidyman,"Oct 9, 1971","Sep 25, 2001",NaN,NaN,104 minutes,NaN
3,"New York City, not-too-distant-future: Eric Pa...",R,Drama|Science Fiction and Fantasy,David Cronenberg,David Cronenberg|Don DeLillo,"Aug 17, 2012","Jan 1, 2013",$,"600,000",108 minutes,Entertainment One
5,Illeana Douglas delivers a superb performance ...,R,Drama|Musical and Performing Arts,Allison Anders,Allison Anders,"Sep 13, 1996","Apr 18, 2000",NaN,NaN,116 minutes,NaN
6,Michael Douglas runs afoul of a treacherous su...,R,Drama|Mystery and Suspense,Barry Levinson,Paul Attanasio|Michael Crichton,"Dec 9, 1994","Aug 27, 1997",NaN,NaN,128 minutes,NaN
7,NaN,NR,Drama|Romance,Rodney Bennett,Giles Cooper,NaN,NaN,NaN,NaN,200 minutes,NaN
8,The year is 1942. As the Allies unite overseas...,PG,Drama|Kids and Family,Jay Russell,Gail Gilchriest,"Mar 3, 2000","Jul 11, 2000",NaN,NaN,95 minutes,Warner Bros. Pictures
10,Some cast and crew from NBC's highly acclaimed...,PG-13,Comedy,Jake Kasdan,Mike White,"Jan 11, 2002","Jun 18, 2002",$,"41,032,915",82 minutes,Paramount Pictures
13,"Stewart Kane, an Irishman living in the Austra...",R,Drama,Ray Lawrence,Raymond Carver|Beatrix Christian,"Apr 27, 2006","Oct 2, 2007",$,"224,114",123 minutes,Sony Pictures Classics
14,"""Love Ranch"" is a bittersweet love story that ...",R,Drama,Taylor Hackford,Mark Jacobson,"Jun 30, 2010","Nov 9, 2010",$,"134,904",117 minutes,NaN
15,When a diamond expedition in the Congo is lost...,PG-13,Action and Adventure|Mystery and Suspense|Scie...,Frank Marshall,John Patrick Shanley,"Jun 9, 1995","Jul 27, 1999",NaN,NaN,108 minutes,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,"In 1979, Bill Viola and Frank Caliguri dreamed...",NR,Documentary,NaN,Robert Zullo,NaN,NaN,NaN,NaN,NaN,Showtime Documentary Films
19,While Microsoft may be the biggest software co...,NR,Documentary|Special Interest,NaN,NaN,"Aug 23, 2002","Sep 30, 2003",NaN,NaN,90 minutes,Seventh Art Releasing
20,Rachel (Britt Ekland) is an Amish girl who rej...,PG-13,Classics|Comedy|Drama,William Friedkin,Sidney Michaels|Arnold Schulman|Norman Lear,"Dec 22, 1968","May 20, 2008",NaN,NaN,97 minutes,NaN
21,"Old-school comic Rodney ""I get no respect"" Dan...",R,Comedy,Peter Baldwin,Rodney Dangerfield|Harry Basil,"Jan 31, 1997","Sep 20, 1999",NaN,NaN,106 minutes,NaN
22,Two-time Academy Award Winner Kevin Spacey giv...,R,Comedy|Drama|Mystery and Suspense,George Hickenlooper,Norman Snider,"Dec 17, 2010","Apr 5, 2011",$,"1,039,869",108 minutes,ATO Pictures
23,A fictional film set in the alluring world of ...,R,Drama,NaN,NaN,"Dec 20, 2013","Mar 18, 2014",$,"99,165,609",129 minutes,Sony Pictures
24,Three young boys discover a stranded Russian s...,PG,Action and Adventure|Comedy|Drama,Rick Rosenthal,Sheldon Lettich|Michael Nankin|Alan Jay Glueckman,"Nov 6, 1987","Mar 8, 2005",NaN,NaN,98 minutes,NaN
25,"From ancient Japan's most enduring tale, the e...",PG-13,Action and Adventure|Drama|Science Fiction and...,Carl Erik Rinsch,Chris Morgan|Hossein Amini,"Dec 25, 2013","Apr 1, 2014",$,"20,518,224",127 minutes,Universal Pictures
26,A comic series of short vignettes build on one...,R,Art House and International|Comedy|Drama|Music...,Jim Jarmusch,Jim Jarmusch,"May 14, 2004","Sep 21, 2004",$,"1,971,135",96 minutes,MGM

#### Data size and information
The dataset contains 10 columns and 1560 rows.
A total number 1560 entries

In [6]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1560 entries, 1 to 2000
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   synopsis      1498 non-null   object
 1   rating        1557 non-null   object
 2   genre         1552 non-null   object
 3   director      1361 non-null   object
 4   writer        1111 non-null   object
 5   theater_date  1201 non-null   object
 6   dvd_date      1201 non-null   object
 7   currency      340 non-null    object
 8   box_office    340 non-null    object
 9   runtime       1530 non-null   object
 10  studio        494 non-null    object
dtypes: object(11)
memory usage: 146.2+ KB

#### Descriptive statistics
They include:
In relation to the different columns
1. count
2. Unique
3. Top
4. Frequency

In [7]:
df2.describe()

,synopsis,rating,genre,director,writer,theater_date,dvd_date,currency,box_office,runtime,studio
count,1498,1557,1552,1361,1111,1201,1201,340,340,1530,494
unique,1497,6,299,1125,1069,1025,717,1,336,142,200
top,A group of air crash survivors are stranded in...,R,Drama,Steven Spielberg,Woody Allen,"Jan 1, 1987","Jun 1, 2004",$,"600,000",90 minutes,Universal Pictures
freq,2,521,151,10,4,8,11,340,2,72,35

#### 3. Dataset rt.reviews.tsv.gz

In [42]:
#specify the file path
file_path = '../zippedData/rt.reviews.tsv.gz'

#open the compressed zip folder
with gzip.open(file_path, 'rt', encoding='latin1') as file:
    df3 = pd.read_csv(file, delimiter='\t', index_col=0) #tsv file

#show the first 5 rows
df3.head(10)

,review,rating,fresh,critic,top_critic,publisher,date
id,,,,,,,
3,A distinctly gallows take on contemporary fina...,3/5,fresh,PJ Nabarro,0,Patrick Nabarro,"November 10, 2018"
3,It's an allegory in search of a meaning that n...,NaN,rotten,Annalee Newitz,0,io9.com,"May 23, 2018"
3,... life lived in a bubble in financial dealin...,NaN,fresh,Sean Axmaker,0,Stream on Demand,"January 4, 2018"
3,Continuing along a line introduced in last yea...,NaN,fresh,Daniel Kasman,0,MUBI,"November 16, 2017"
3,... a perverse twist on neorealism...,NaN,fresh,NaN,0,Cinema Scope,"October 12, 2017"
3,... Cronenberg's Cosmopolis expresses somethin...,NaN,fresh,Michelle Orange,0,Capital New York,"September 11, 2017"
3,"Quickly grows repetitive and tiresome, meander...",C,rotten,Eric D. Snider,0,EricDSnider.com,"July 17, 2013"
3,Cronenberg is not a director to be daunted by ...,2/5,rotten,Matt Kelemen,0,Las Vegas CityLife,"April 21, 2013"
3,"Cronenberg's cold, exacting precision and emot...",NaN,fresh,Sean Axmaker,0,Parallax View,"March 24, 2013"
3,Over and above its topical urgency or the bit ...,NaN,fresh,Kong Rithdee,0,Bangkok Post,"March 4, 2013"

#### Data size and information
The dataset has a total of 7 columns and 54432 rows.
It has a total of 54432 entries

In [10]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 54432 entries, 3 to 2000
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   review      48869 non-null  object
 1   rating      40915 non-null  object
 2   fresh       54432 non-null  object
 3   critic      51710 non-null  object
 4   top_critic  54432 non-null  int64
 5   publisher   54123 non-null  object
 6   date        54432 non-null  object
dtypes: int64(1), object(6)
memory usage: 3.3+ MB

#### Descriptive statistics
The code below shows the descriptive statistics of top_critic which is a column in the dataset

In [11]:
df3.describe()

         top_critic
count  54432.000000
mean       0.240594
std        0.427448
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max        1.000000

#### 4. Dataset tmdb.movies.csv.gz

In [15]:
#specify the file path
file_path = '../zippedData/tmdb.movies.csv.gz'

#open the compressed zip folder
with gzip.open(file_path, 'rt') as file:
    df4 = pd.read_csv(file, index_col=0)

#show the first 5 rows
df4.head()

,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186

#### Data information and size
The dataset has a total of 9 columns and 26517 rows.
It has a total of 26517 entries.
The table below shows the column names and their type if its a integer or a string etc.

In [17]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26517 entries, 0 to 26516
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   genre_ids          26517 non-null  object
 1   id                 26517 non-null  int64
 2   original_language  26517 non-null  object
 3   original_title     26517 non-null  object
 4   popularity         26517 non-null  float64
 5   release_date       26517 non-null  object
 6   title              26517 non-null  object
 7   vote_average       26517 non-null  float64
 8   vote_count         26517 non-null  int64
dtypes: float64(2), int64(2), object(5)
memory usage: 2.0+ MB

#### Descriptive Statistics
The table below shows the descriptive statistics of columns id, popularity, vote_average and vote_count in terms of mean, std etc.

In [19]:
df4.describe()

                  id    popularity  vote_average    vote_count
count   26517.000000  26517.000000  26517.000000  26517.000000
mean   295050.153260      3.130912      5.991281    194.224837
std    153661.615648      4.355229      1.852946    960.961095
min        27.000000      0.600000      0.000000      1.000000
25%    157851.000000      0.600000      5.000000      2.000000
50%    309581.000000      1.374000      6.000000      5.000000
75%    419542.000000      3.694000      7.000000     28.000000
max    608444.000000     80.773000     10.000000  22186.000000

#### 5. Dataset tn.movie_budgets.csv.gz

In [21]:
#specify the file path
file_path = '../zippedData/tn.movie_budgets.csv.gz'

#open the compressed zip folder
with gzip.open(file_path, 'rt') as file:
    df5 = pd.read_csv(file, index_col=0)

#show the first 5 rows
df5.head()

,release_date,movie,production_budget,domestic_gross,worldwide_gross
id,,,,,
1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"

#### Dataset size and information
The dataset has a total of 5 columns and 5782 rows.
It has a total of 5782 entries.

In [22]:
df5.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5782 entries, 1 to 82
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   release_date       5782 non-null   object
 1   movie              5782 non-null   object
 2   production_budget  5782 non-null   object
 3   domestic_gross     5782 non-null   object
 4   worldwide_gross    5782 non-null   object
dtypes: object(5)
memory usage: 271.0+ KB

#### Descriptive Statistics
The descriptive statistics is described below for the different columns release_date, movie, production_budget, domestic_gross and worldwide_gross

In [31]:
df5.describe()

,release_date,movie,production_budget,domestic_gross,worldwide_gross
count,5782,5782,5782,5782,5782
unique,2418,5698,509,5164,5356
top,"Dec 31, 2014",King Kong,"$20,000,000",$0,$0
freq,24,3,231,548,367

#### 6. Dataset im.db.zip

In [28]:
import sqlite3
import zipfile
import os

In [32]:
#define the path 
file_path = '../zippedData/im.db.zip'
# Directory where you want to extract the files
extraction_path = '../zippedData/' 
 # Name of the extracted database file
db_name = 'im.db'  
#unzipping the files
with zipfile.ZipFile(file_path, 'r') as zip_ref:
    zip_ref.extractall(extraction_path)

In [34]:
#connecting to the sqlite database
db_file_path = os.path.join(extraction_path, db_name)

# Connect to the SQLite database
conn = sqlite3.connect(db_file_path)
cursor = conn.cursor()

# Example query: Get the list of tables
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cursor.fetchall()

# Print the list of tables
print("Tables in the database:", tables)

Tables in the database: [('movie_basics',), ('directors',), ('known_for',), ('movie_akas',), ('movie_ratings',), ('persons',), ('principals',), ('writers',)]

#### Dataset size and information
The dataset is a database that contains tables movie_basics, directors, known_for, movie_akas, movie_rating, persons, principals and writers.
The relevant tables are movie_basics and movie_ratings for this project.
The movie_basics table has a total of 6 columns and 146144 rows as shown below.
The columns include movie_id, primary_title, original_title, start_year, runtime_minutes and genres.
The movie_ratings table has a total of 3 columns and 73856 rows.
The columns include movie_id, average rating and number of votes.

In [38]:
table_name_basics = """SELECT *
                      FROM movie_basics
                      ;"""

pd.read_sql(table_name_basics, conn)

,movie_id,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"
...,...,...,...,...,...,...
146139,tt9916538,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,2019,123.0,Drama
146140,tt9916622,Rodolpho Tephilo - O Legado de um Pioneiro,Rodolpho Tephilo - O Legado de um Pioneiro,2015,NaN,Documentary
146141,tt9916706,Dankyavar Danka,Dankyavar Danka,2013,NaN,Comedy
146142,tt9916730,6 Gunn,6 Gunn,2017,116.0,None
146143,tt9916754,Chico Albuquerque - Revelaes,Chico Albuquerque - Revelaes,2013,NaN,Documentary

In [36]:
table_name_rating = """SELECT *
                      FROM movie_ratings
                      ;"""

pd.read_sql(table_name_rating, conn)

         movie_id  averagerating  numvotes
0      tt10356526            8.3        31
1      tt10384606            8.9       559
2       tt1042974            6.4        20
3       tt1043726            4.2     50352
4       tt1060240            6.5        21
...           ...            ...       ...
73851   tt9805820            8.1        25
73852   tt9844256            7.5        24
73853   tt9851050            4.7        14
73854   tt9886934            7.0         5
73855   tt9894098            6.3       128

[73856 rows x 3 columns]

### Justification for feature inclusion
From the analysis of the 6 datasets we decided to use 3 out of the 6 datasets.
These datasets include:
 - Dataset tmdb.movies.csv.gz
 - Dataset tn.movie_budgets.csv.gz
 -  Dataset im.db.zip
- These datasets contained the features needed for the analysis and understanding of our project.
These feature include:
- vote count and popularity - this feature is essential for this project as through vote count and rating we can be able to identify which films are popular among the audience this can be seen through database tmbd.movies.csv.gz
- Budget - This is essential for the project as it allows us to understand the relationship between production budget and revenue to know how much profit and loss the movie studio has incurred. This feature is found in the dataset tn.movie_budgets.csv.gz
- Revenue - It is the main indicator that shows us the financial success the movie has made or the financial loss the movie has made when it is compared to the budget. 
Revenue can be domestic gross which is revenue income from a certain region or country or world-wide gross which is revenue generated across the globe. This feature is found in the dataset tn.movie_budgets.csv.gz
- Genres - This feature enables us to identify which movie genre is popular and successful in the box office based on its average rating and number of votes made by the audience. This feature is found in the dataset im.db.zip

### Limitations
- Missing values - some features may contain missing values that may affect the analysis of the data.
- NAN values - Some key features in the dataset may contain NAN values that might reduce the accuracy of the analysis and may cause errors during analysis if not acted upon.

## Methods

## Results

### Business Recommendation 1

### Business Recommendation 2

### Business Recommendation 3